:root {
  --color-light: #4ec1ec;
  --color-dark: #41404a;
  --color-error: #c50010;
  --spacing: 4px;
}

body {
  font-family: "Montserrat";
  margin: 0;
  color: var(--color-dark);
}
.content {
  margin: var(--spacing);
}

code {
  font-size: 1rem;
}

/*
Footer
 */
.main-panel>.footer {
  border-top: 1px solid #cfcfcf;
}

.footer {
    position: relative;
}
.footer .right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer .left .icon-twitter::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(//www.cybertec-postgresql.com/wp-content/themes/base/css/../img/svg/twitter.svg);
    background-size: contain;
    background-position: 0;
    background-repeat: no-repeat;
}

label.is-invalid {
    font-size: 80%;
    color: #f44336;
}
