

    <footer class="footer">
        <hr />
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a href="https://cybertec-postgresql.com">
                  pg_timetable
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
	    <p>Cybertec Schönig &amp; Schönig GmbH</p>
	    <p>Data Science and PostgreSQL</p>
	    <p>Web: https://www.cybertec.postgresql.com</p>
          </div>
        </div>
    </footer>
