  <footer class="footer">
    <div class="left">
      <div class="center-wrapper">
        <div>
          <section id="text-2" class="widget widget_text">
            <div class="textwidget">
              <p><img src="/static/logo.svg" alt="logo" style="max-width: 250px"></p>
	      <p>Cybertec Schönig &amp; Schönig GmbH<br>
	      Data Science and PostgreSQL<br>
	      Web: https://www.cybertec-postgresql.com</p>
              <a href="https://twitter.com/PostgresSupport" class="icon-twitter" style="margin-bottom: 0">twitter.com/PostgresSupport</a><br>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="center-wrapper">
        <section class="copyright">
          © 2000–2020 Cybertec Schönig & Schönig GmbH
        </section>
      </div>
    </div>
  </footer>
