{% extends "base.html" %} {% block body %}

<div class="margin-bottom">
  <a class="btn btn-primary" role="button"href="/chain_execution_config/add/">ADD new chain</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>is live</th>
      <th>schedule</th>
      <th>next run</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in list %}
    <tr>
      <td>{{ obj.chain_name }}</td>
      <td><span>{{ '✓' if obj.live else '✕' }}</span></td>
      <td>
        <code>
          <span >{{ obj.run_at }}</span >
        </code>
      </td>
      <td>
        <code>
          <span >{{ obj.next_run }}</span >
        </code>
      </td>
      <td>
        <div>
          <p>
            <a href="/chain_execution_config/{{ obj.chain_execution_config }}/" >View</a >
            <a href="/execution_log/{{ obj.chain_execution_config }}/">Logs</a>
          </p>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
